.layout {
  display: flex;
  gap: var(--lg);
  padding: var(--xl);
  padding-top: calc(var(--xl) * 4);
  justify-content: center;
  flex-wrap: wrap;
}

.list_panel {
  min-width: 350px;
  max-width: 28rem;
  flex-grow: 1;
}

.detail_panel {
  min-width: 350px;
  max-width: 44rem;
  flex-grow: 1;
}
