node_modules/
dist/
public/
.env*

# Generated
coverage/

# Cypress
cypress-results/
cypress/screenshots/
cypress/videos/

# Java stuff
.gradle/
build/
.idea
stats.html

.opencode/
opencode.json

# Local crap only 
scripts/