client/dist
client/.solid
client/.output
client/.vercel
client/.netlify
client/.vinxi
client/app.config.timestamp_*.js
client/public/assets/guidedreader/audios

client/node_modules

# build
server/env/.env
server/build
server/key
server/lib/libbcrypt.a
src/key

client/.env

/.idea
.project
.classpath
*.launch
.settings/

.DS_Store
Thumbs.db