.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--sm);
}

.item {
  display: flex;
  align-items: center;
  gap: var(--md);
  padding: var(--md) var(--lg);
  border-radius: var(--sm);
  text-decoration: none;
  color: inherit;
}

.item:hover {
  background-color: var(--secondary-hover);
}

.item_active {
  background-color: var(--secondary);
}

.item_level {
  margin-right: var(--lg);
}

.item_title {
  overflow: hidden;
  white-space: wrap;
}
