@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.reader {
  font-family: 'Open Sans', sans-serif;
  color: #272121;

  position: absolute;
  width: 100%;
  top: 50%;
  right: 200px;
  transform: translateY(-50%);

  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 1550px) {
    right: 0;
  }
}

.reader_list_hidden {
  right: 0px;
}

.text_list_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  max-width: 400px;
  width: 100vw;
  z-index: 2;

  @media (max-width: 1550px) {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.text_display_wrapper {
  max-width: 750px;
  width: 100%;
  z-index: 1;
  position: relative;
}

.text_list_hide {
  position: absolute;
  margin-right: auto;
  color: white;
  user-select: none;
  cursor: pointer;

  left: 0px;
  padding: 10px 20px;
  transition: transform 1s;
}

.text_list_hide:hover {
  animation: spin_reverse 0.6s;
}

.text_list_hide:not(:hover) {
  animation: spin 0.6s;
}

.header_text {
  font-size: 1.5rem;
  color: white;
}

.text_list_item,
.text_list_item_selected {
  width: calc(100% - 28px);
  padding: 10px 14px;
  border-radius: 10px;
  background-color: #FBFBFB;

  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.text_list_item:hover {
  background-color: #ECECEC;
  color: #CF3A5F;
}

.text_list_item:hover:active {
  background-color: rgb(253, 222, 230);
  transition: background-color 0.3s ease-in-out;
}

.text_list_item_selected {
  background-color: #252525;
  color: white;
}

.annotate_button {
  z-index: 3;
  bottom: 20px;
  background-color: #252525;

  position: absolute;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;

  padding: 6px 12px;
  border-radius: 15px;
  border: 1px solid #272121;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  color: white;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  font-size: 1rem;
  user-select: none;
}

.annotate_button:hover {
  border: 1px solid #CF3A5F;
  background-color: #ECECEC;
  color: #CF3A5F;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes spin_reverse {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}