@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.reader {
  font-family: 'Open Sans', sans-serif;
  color: #272121;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);

  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.text_list_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.text_list_hide {
  margin-right: auto;
  color: white;
}

.header_text {
  margin-right: auto;
  font-size: 1.5rem;
  color: white;
}

.text_list_item,
.text_list_item_selected {
  width: calc(100% - 28px);
  padding: 10px 14px;
  border-radius: 10px;
  background-color: #FBFBFB;

  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.text_list_item:hover {
  background-color: #ECECEC;
  color: #CF3A5F;
}

.text_list_item:hover:active {
  background-color: rgb(253, 222, 230);
  transition: background-color 0.3s ease-in-out;
}

.text_list_item_selected {
  background-color: #252525;
  color: white;
}