.toolbar {
  display: flex;
  gap: var(--lg);
  align-items: center;
  border-top: 1px solid
    color-mix(in srgb, var(--muted-foreground) 75%, transparent);
  margin: 0 var(--xl);
  padding: var(--lg) 0;
}
