.body {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: var(--sm);
}

.tag_label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag_remove {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  max-height: 12rem;
  overflow: auto;
}

.suggestion {
  display: flex;
  align-items: center;
  gap: var(--sm);
  width: 100%;
  justify-content: flex-start;
}

.suggestion_label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
