.toolbar {
  display: flex;
  gap: var(--md);
  align-items: center;
  margin-bottom: var(--lg);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--lg);
}

.header_link {
  margin-left: auto;
}

.skeleton_list {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
}
