.dialog {
  width: 24rem;
  max-width: 90vw;
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.search_row {
  display: flex;
  gap: var(--md);
  align-items: center;
}

.results {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.empty {
  margin: 0;
}
