.header {
  height: 50px;
  width: calc(100% - 40px);
  padding: 0px 20px;

  background-color: #252525;
  border-radius: 15px 15px 0px 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}