@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 4rem;
}

.login_container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  transform: translateY(-2rem);

  /* container styling */
  z-index: 1;
  width: calc(100% - 170px);
  max-width: 640px;
  height: auto;
  padding: 70px 90px 60px 80px;

  border-radius: 20px;
  background-color: #fbfbfb;
  font-family: "Inter";
  font-weight: 300;

  /* shadow and blur styling */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);

  @media (max-width: 765px) {
    width: calc(100% - 80px);
    padding: 50px 40px 50px 40px;
  }

  @media (max-width: 625px) {
    height: auto;
  }

  @media (max-width: 550px) {
    justify-content: center;
    padding: 40px 40px 40px 40px;
    border-radius: 0;
    height: 100%;
    border: none;
  }

  @media (max-width: 345px) {
    width: calc(100% - 40px);
    padding: 40px 20px 40px 20px;
    align-items: center;
  }
}

.welcome_text {
  font-size: 40px;
  font-weight: 450;
  color: #252525;
  margin-bottom: 5px;

  @media (max-width: 550px) {
    font-size: 30px;
  }
}

.input_form {
  position: relative;
  height: 52px;
  width: calc(100% - 20px);
  padding-left: 20px;
  border-radius: 20px;
  touch-action: manipulation;

  /* background and outline */
  outline: none;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #C0C0C0;

  @media (max-width: 550px) {
    height: 42px;
  }
}

.password_form {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  touch-action: manipulation;
}

.show_password {
  z-index: 2;
  top: calc(50% - 3px);
  right: 1rem;
  position: absolute;
  transform: translateY(-50%);
}

.password_button {
  background: none;
  border: none;
  padding: 0;
  height: fit-content;
  touch-action: manipulation;

  /* hover styling */
  user-select: none;
  cursor: pointer;
  transition: filter 0.15s ease-in-out;
}

.password_button:hover {
  filter: brightness(0) saturate(100%) invert(53%) sepia(7%) saturate(7414%) hue-rotate(307deg) brightness(76%) contrast(121%);
}

.form_button {
  position: relative;
  margin: auto;

  margin-bottom: 0.75em;
  margin-top: 0.75em;
  width: 90%;
  height: 62px;

  /* background, outline, other */
  border-radius: 25px;
  border: 1px solid #C0C0C0;
  background-color: rgba(255, 255, 255, 0.4);
  user-select: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  touch-action: manipulation;

  @media (max-width: 550px) {
    height: 52px;
  }
}

.form_button:hover {
  background-color: #252525;
  color: rgb(235, 235, 235);
}

.discord_account_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  touch-action: manipulation;
}

.login_form {
  margin-top: 1.75em;
}

.input_text,
.input_text::placeholder {
  font-family: "Inter";
  font-size: 1.35rem;
  font-weight: 300;
  color: rgba(81, 69, 68, 0.6);
  user-select: none;

  @media (max-width: 550px) {
    font-size: 1.1rem;
  }
}

.body_text {
  font-size: 1.2rem;
  color: #252525;

  @media (max-width: 550px) {
    font-size: 1.1rem;
  }
}

.input_text {
  color: #252525;
}

.forgot_form {
  position: relative;
  margin-bottom: 1.5em;
  width: 100%;
  touch-action: manipulation;

  @media (max-width: 625px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0.5em;
    align-items: center;
  }
}

.forgot_text {
  position: absolute;
  right: 0;
  touch-action: manipulation;

  @media (max-width: 625px) {
    position: relative;
  }
}

.error_text {
  position: absolute;
  color: #FA3D66;

  @media (max-width: 625px) {
    position: relative;
  }
}

.highlight_text {
  color: #CF3A5F;
  text-decoration: underline dotted rgb(37, 37, 37, 0.4);
  text-underline-offset: 4px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
  touch-action: manipulation;
}

.highlight_text:hover {
  color: rgb(124, 16, 49);
  text-decoration: underline dotted rgba(80, 27, 40, 0.6);
}

.button_text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #252525;

  @media (max-width: 550px) {
    font-size: 1.2rem;
  }
}

.no_account_text,
.discord_account_text,
.register_text {
  position: relative;
  align-self: center;
}

.discord_account_text {
  margin-bottom: 0.75em;
}

.discord_icon {
  @media (max-width: 305px) {
    display: none;
  }
}