@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.annotation_modal {
  font-family: 'Open Sans', sans-serif;
  color: #272121;

  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;

  top: 50%;
  right: 0;
  z-index: 2;
  transform: translateY(-50%);

  padding: 20px;
  width: calc(100% - 40px);
  max-width: 480px;
  height: 600px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px 0 0 20px;
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;

  @media (max-height: 780px) {
    top: 4.3rem;
    transform: translateY(0);
  }

  @media (max-width: 475px) {
    width: calc(100% - 20px);
    padding: 20px 10px;
  }
}

.annotation_modal_header {
  left: 0;
  top: 21px;
  position: absolute;

  @media (max-width: 475px) {
    position: relative;
    top: 0;
  }
}

.annotation_header {
  width: 100%;
  height: 30px;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 475px) {
    width: calc(100% - 20px);
  }
}

.header_text {
  margin-right: auto;
  font-weight: 700;
  font-size: 1.2rem;
}

.verified_header {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 0.25rem;
}

.verified_header button {
  z-index: 1;
  font-family: 'Open Sans', sans-serif;

  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 15px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  touch-action: manipulation;
}

.verified_button {
  cursor: pointer;
  background-color: #252525;
  border: 1px solid #272121;
  color: white;
  touch-action: manipulation;
}

.verified_button:hover {
  border: 1px solid #CF3A5F;
  background-color: #ECECEC;
  color: #CF3A5F;
}

.info_button {
  border: 1px solid #C0C0C0;
  color: #272121;
  touch-action: manipulation;

  @media (max-width: 475px) {
    display: none;
  }
}

.info_button:hover {
  border: 1px solid #CF3A5F;
  background-color: #ECECEC;
  color: #CF3A5F;
}

.annotation_modal_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: 90%;
  overflow-y: auto;
}

.new_annotation {
  margin-right: auto;
}

.new_annotation_button {
  color: rgb(207, 58, 95);
  text-decoration: underline dotted rgba(37, 37, 37, 0.4);
  text-underline-offset: 4px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
  touch-action: manipulation;
}

.new_annotation_button:hover {
  color: rgb(124, 16, 49);
  text-decoration: underline dotted rgba(80, 27, 40, 0.6);
}

.response {
  position: absolute;
  bottom: 20px;
  background-color: #252525;

  padding: 6px 12px;
  border-radius: 15px;
  border: 1px solid #272121;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  color: white;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.response:hover {
  border: 1px solid #CF3A5F;
  background-color: #ECECEC;
  color: #CF3A5F;
}