.annotated_text {
  z-index: 1;
  display: inline;
  width: fit-content;
  cursor: pointer;

  padding: 1px 0px 2px 0px;
  background-color: #f7cccc;
}

.annotated_text:hover, .annotated_text_selected {
  background-color: #e09090;
}