.column {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
  min-width: 0;
}

.column_title {
  display: flex;
  gap: var(--md);
  align-items: center;
  word-break: break-all;
  margin: 0;
}

.list_wrap {
  display: flex;
  flex-direction: column;
  min-height: 12rem;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.row {
  display: flex;
  gap: var(--sm);
  align-items: center;
  word-break: break-all;
  padding: var(--sm) var(--md);
  border-radius: var(--sm);
  user-select: none;
  cursor: pointer;
}

.row:hover {
  background-color: var(--secondary);
}

.row_selected {
  background-color: var(--secondary);
}

.row_label {
  word-break: break-all;
  margin: 0;
}

.drag_handle {
  display: flex;
  align-items: center;
  cursor: grab;
  opacity: 0.6;
  flex-shrink: 0;
}

.drag_handle:active {
  cursor: grabbing;
}

.empty {
  margin: 0;
  padding: var(--lg);
  text-align: center;
}
