body {
  margin: 0;
  padding: 0;
  height: calc(100vh + 6rem);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

hr {
  width: 95%;
  margin: 0.5rem auto;
  border: none;
  border-top: 1px solid #272121;
}