.menu {
  position: absolute;
  right: var(--xl);
}

.trigger {
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
  cursor: pointer;
}

.content {
  width: 280px;
  /* This guy sets a white background I DON'T WNAT THAT GRRR! */
  background-color: transparent !important;
}

.card {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--md);
}

.header_avatar {
  flex-shrink: 0;
}

.header_text {
  text-align: left;
  margin-left: var(--lg);
}

.body {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 !important;
}

.roles {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.no_roles {
  color: var(--muted);
}

.logout {
  width: fit-content;
  margin-left: auto;
}

.footer {
  display: flex;
  justify-content: end;
  margin-top: var(--xl);
  gap: var(--md);
}
